<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include("partials/header") %>
        <h1>Compose</h1>

        <form action="/compose" method="post">
            <p>
            <h3>Title</h3>
            <input type="text" name="newtitle" id="" class="form-control">
            </p>
            <p>
            <h3>Post</h3>
            <!-- <input type="text" name="newpost" id="" textarea> -->
            <div> <textarea rows="7" cols="120" name="newpost"  class="form-control">
                  </textarea>
            </div>
        </p>
        <button type="submit" class="btn btn-primary">Publish</button>
        </form>
        <%- include("partials/footer") %>


</body>

</html>